@charset "utf-8";
@operateHeight: 50px;
@marginDistance: 15px;
@paddingDistance: 15px;
.func {
    margin: 0 @marginDistance;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    &-operate {
        height: @operateHeight;
        line-height: @operateHeight;
        z-index: @zIndex10;
        position: relative;
    }
    &-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: @operateHeight;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }
    &-wrapper {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        background-color: #fff;
    }
    .clearfix:before,
    .clearfix:after {
        content:"";
        display:table;
    }
    .clearfix:after {
        clear:both;
        overflow:hidden;
    }
    .clearfix {
        zoom:1; /* IE < 8 */
    }
    .detail-content__size {
        width: 100%;
        height: 400px;
    }
    .el-dialog__wrapper {
        overflow: hidden;
        .el-dialog {
            width: 800px;
        }
    }
    .topic-title {
        .el-dialog__title {
            display: inline-block;
        }
        .topic-title__btn {
            display: inline-block;
            float: right;
            margin-right: 50px;
        }
    } 
    .topic-content {
        .el-carousel__item {
            background-color: @carousel;
            .topic-carousel {
                margin: 0 60px;
                h3 {
                    color: @topicColor;
                    font-size: @fontSize18;
                    opacity: 0.75;
                    margin: 0;
                }
            }
            
        }
        .topic-add {
            border-top: 1px dashed #d9d9d9;
            height: 320px;
            padding-top: 20px;
            box-sizing: border-box;
        }
        .topic-submit__btn {
            width: 80px;
            margin: 0 auto;
        }
    }
}