@charset "utf-8";
.page-header {
    height: 100%;
    background: #fff;
    color: @color15;
    .page-title {
        display: inline-block;
        font-size: @fontSize36;
        padding-left: 150px;
        font-family: '黑体';
        font-style: italic;
    }
    .func-bar {
        float: right;
        height: 100%;
    }
    .add-icon {
        display: inline-block;
        font-size: 18px;
        padding: 0 10px;
        cursor: pointer;
    }
    .setting {
        cursor: pointer;
        padding: 0 12px;
        display: inline-block;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        height: 100%;
        position: relative;
        &-avatar {
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 18px;
            display: inline-block;
            margin: 18px 8px 20px 0;
            vertical-align: middle;
            >img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 100%;
            }
        }
        &:hover {
            background-color: #e6f7ff;
        }
    }
    .setting-info {
        display: inline-block;
        height: 100%;
        width: 100%;
        color: #fff;
    }
    .clearfix:before,
    .clearfix:after {
        content:"";
        display:table;
    }
    .clearfix:after {
        clear:both;
        overflow:hidden;
    }
    .clearfix {
        zoom:1; /* IE < 8 */
    }
}