@charset "utf-8";
// 首页样式
.home {
    height: 100%;
    .footer {
        width:600px;margin:0 auto;
    }
    .footer-title {
        float:left;
        height:20px;
        line-height:20px;
        margin: 0px 0px 0px 5px; 
        color:#939393;
    }
}
