@charset "utf-8";
@headerHeight: 64px;
@footerHeight: 20px;
.layout {
    height: 100%;
    // 导航
    .nav {
        float: left;
        width: 200px;
        height: 100%;
        background-color: @navBgColor;
        position: relative;
        box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
        z-index: @zIndex10;
    }
    .img {
        background-color: @titleBgColor;
        height: @headerHeight;
    }
    // 菜单
    .menu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        padding-top: 64px;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    // 头
    .header {
        height: @headerHeight;
        line-height: @headerHeight;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    }
    .container {
        position: relative;
        margin: 0 0 0 200px;
        height: 100%;
        background-color: @backgroundColor;
    }
    // 内容
    .content {
        position: absolute;
        top: @headerHeight;
        left: 0;
        right: 0;
        bottom: @footerHeight;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .content-wrapper {
        height: 100%;
        width: 100%;
        background-color: #fff;
    }
    .footer {
        height: @footerHeight;
        line-height: @footerHeight;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: hidden;
        font-size: @fontSize16;
    }
    .clearfix:before,
    .clearfix:after {
        content:"";
        display:table;
    }
    .clearfix:after {
        clear:both;
        overflow:hidden;
    }
    .clearfix {
        zoom:1; /* IE < 8 */
    }
}