.welcome {
    height: 100%;
    width: 100%;
    background-color: #fff;
    &-period {
        width: 100%;
        text-align: center;
        font-size: @fontSize28;
        color: @redColor;
    }
    &-support {
        position: absolute;
        bottom: 0;
        right: 0;
        color: @colorB4;
        font-size: @fontSize18;
        >h3 {
            color: @color15;
            font-size: @fontSize20;
            font-weight: 600;
        }
        span {
            color: @color15;
        }
    }
}