.welcome {
    height: 100%;
    width: 100%;
    background-color: #fff;
    &-support {
        position: absolute;
        bottom: 0;
        right: 0;
        h3 {
            color: @color15;
            font-size: @fontSize20;
            font-weight: 600;
        }
    }
}