/** 字体大小 **/

@fontSize12: 12px;
@fontSize13: 13px;
@fontSize14: 14px;
@fontSize15: 15px;
@fontSize16: 16px;
@fontSize18: 18px;
@fontSize20: 20px;
@fontSize36: 36px;

/** 颜色 **/

@color3F: #3F3F3F;
@color33: #333333;
@color66: #666666;
@color99: #999999;
@colorCC: #cccccc;
@baseColor: #33B5FF;
@borderColor: #e3e3e3;
@color15: #151515;
@colorD9: #D9D9D9;
@colorB4: #B4B4B4;
@colorF5: #F5F5F5;
@colorED: #EDEDED;
@bottomColor: #e8e8e8;
@thColor: #fafafa; // 表格表头背景颜色
@navBgColor:#001529; // 导航条背景颜色
@titleBgColor: #002140; // 标题背景颜色
@topicColor: #475669;
@carousel: #d3dce6; // 走马灯背景色
@backgroundColor: #f0f2f5; // 背景图片
@redColor: #f10215;

@zIndex10: 10; // 操作区域
